<div class='navbar navbar-inverse navbar-fixed-top'>
  <div class='navbar-inner'>
    <div class='container'>
      
      <ul class="nav">
        <li class="">
          <a href="./index.html">Home</a>
        </li>
        <li class="">
          <a href="./getting-started.html">Get started</a>
        </li>
        <li class="">
          <a href="./scaffolding.html">Scaffolding</a>
        </li>
        <li class="">
          <a href="./base-css.html">Base CSS</a>
        </li>
        <li class="active">
          <a href="./components.html">Components</a>
        </li>
        <li class="">
          <a href="./javascript.html">JavaScript</a>
        </li>
        <li class="">
          <a href="./customize.html">Customize</a>
        </li>
        
      </ul>
      
      <ul class="nav pull-right">
        <li class="">
          <%= link_to('退出', destroy_user_session_path, :method => :delete) %>
        </li>
      </ul>
    </div>
  </div>
</div>